body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-leftside{
    padding-left: 10px;
}

.link-rightside{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.first-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    margin: 0;
    padding: 90px;
}

.left-firstbanner{
    
    flex-shrink: 0;
    max-width: 300px;
}

.right-firstbanner{
    flex: 0 0 auto;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9fafb;
    margin: 0;
    padding: 0;
}

.description{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.signup{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 28px;
    border-radius:10px;
    background-color: #3882f6;
    color: white;
    border: none;
    top: 50%;
    cursor: pointer;
}

.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.image-button{
    display: flex;
    gap: 50px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-section{
    display: flex;
    background-color: #e5e7eb;
    padding: 120px 120px 96px;
    margin: 0;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    align-self: center;
}

.author{
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    float: right;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.contact-box{
    background-color: #3882f6;
    display: flex;
    
    color: white;
    padding:50px 160px;
    border-radius: 20px;
    justify-content: space-between;
}

.contact-description{
    align-self: center;
    margin: 20px;
    padding: 5px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-github{
    background: black;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
}